.wrapper {
    width: 100%;
    height: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.header {
    width: 1000px;
    height: 50px;
    background-color: #9C2A27;
}

.contents {
    width: 1000px;
    height: 2500px;
    background-color: white;
    display: inline-block;
    flex-wrap: wrap;
}

.logo_area {
    width: 1000px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_img {
    width: 400px;
    height: 400px;
    margin: auto;
}

.restaurants_name_area {
    width: 100%;
    height: 120px;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #304A6C;
}

.restaurants_name_left_area {
    width: 80%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #304A6C;
}

.restaurants_name_right_area {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #304A6C;
    padding-right: 30px;
}

.filter_nav_button {
    width: 50%;
    height: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin: 2px;
    border-radius: 10px;
    font-family: "haeparang";
    font-size: 25px;
    color: white;
    background-color: #47757C;
}

.home_nav_button {
    width: 50%;
    height: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin: 2px;
    border-radius: 10px;
    font-family: "haeparang";
    color: white;
    background-color: #47757C;
}

.filter_nav_button:active,
.home_nav_button:active {
  background-color: #e0e0e0; /* 클릭 시 배경색 */
  transition: background-color 0.1s ease-in-out;
}

.ping_img {
    width: 100px;
    height: 120px;
}

.nameText {
    width: auto;
    height: auto;
    text-align: left;
    font-family: "Haeparang";
    font-size: 40px;
}

.contents_area {
    width: 100%;
    height: 1350px;
    /* background-color: gray; */
}

.review_area {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #f5f3ec; */
    /* background-color: skyblue; */
}

:root {
    --ai-score-color: orange; /* 기본값 */
    --ai-predic-acc-color: orange; /*기본값*/
    --ai-reveiw-summary-color: orange; /*기본값*/
}

.ai_score_area {
    width: 25%;
    height: 100%;
    text-align: center;
}

.ai_score_text {
    font-family: "Haeparang";
    font-size: 35px;
    color: var(--ai-score-color);
    height: 15%;
}

.ai_gauge_img {
    width: 100%;
    height: 55%;
}

.text_about_ai {
    width: 100%;
    height: 30%;
    font-family: "Haeparang";
    font-size: 25px;
    color: #304A6C;
}

.ai_prediction_area {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.ai_predic_area_wrapper {
    width: 90%;
    height: 90%;
    background-color: #f5f3ec;
    border: solid 5px #9C2A27;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ai_predic_accuracy {
    font-family: "Haeparang";
    font-size: 35px;
    color: var(--ai-predic-acc-color);
    height: 15%;
    display: flex;
    justify-content: center;
}

.ai_predic_acc_text {
    width: 100%;
    height: 30%;
    font-family: "Haeparang";
    font-size: 25px;
    color: #304A6C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai_predic_acc_description {
    width: 100%;
    height: 30%;
    font-family: "Haeparang";
    font-size: 15px;
    color: #304A6C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three_star_img {
    max-width: 90%;
    height: auto;
}

.five_star_img {
    max-width: 93%;
    height: auto;
}

.review_summary_area {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.review_summary_wrapper {
    width: 100%;
    height: 90%;
    margin-right: 15px;
    background-color: #f5f3ec;
    border: solid 5px #9C2A27;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.review_summary_text {
    font-family: "Haeparang";
    font-size: 35px;
    color: var(--ai-reveiw-summary-color);
    height: 20%;
}

.restaurants_img_area {
    width: 80%;
    height: 80%;    
}

.restaurant_img {
    width: 100%;
    height: 95%;
    border: solid 3px #9C2A27;
    border-radius: 10px;
}

.overview_area {
    width: 100%;
    height: 1250px;
    /* background-color: snow; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.overview_raw_text_area {
    width: 95%;
    height: 80px;
    /* background-color:palegreen; */
    font-family: "Haeparang";
    font-size: 35px;
    display: flex;
    align-items: end    ;
    color: #B2612D;
}

.overview_bottom_area {
    width: 95%;
    height: 600px;
    margin-top: 20px;
    /* border: solid 5px #9C2A27;
    border-radius: 20px; */
    text-align: start;
    display:block;
}

.overview_text_area {
    width: 940px;
    height: 150px;
    color : #304A6C;
    background-color: #f5f3ec;
    border: solid 3px #9C2A27;
    border-radius: 10px;
    font-family: "Haeparang";
    font-size: 20px;
    overflow-y: auto;  /* 세로 스크롤이 필요한 경우 */
}

.overview_text_area::-webkit-scrollbar {
    width: 16px;  /* 세로 스크롤바의 너비를 설정 */
  }

  /* 스크롤바의 배경 설정 */
.overview_text_area::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* 스크롤바의 핸들(조작 부분) 스타일 설정 */
  .overview_text_area::-webkit-scrollbar-thumb {
    background: #888; /* 스크롤바의 색 */
    border-radius: 10px;
  }
  
  /* 스크롤바 핸들의 상태: 마우스 오버 시 색상 변경 */
  .overview_text_area::-webkit-scrollbar-thumb:hover {
    background: #555; /* 마우스 오버 시 색상 */
  }

.overview_ai_text_area {
    width: 940px;
    height: 150px;
    color : #304A6C;
    background-color: #f5f3ec;
    border: solid 3px #9C2A27;
    border-radius: 10px;
    font-family: "Haeparang";
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.overview_ai_positive_text_area {
    width: 940px;
    height: 150px;
    color : #304A6C;
    /* background-color: #f5f3ec; */
    /* border: solid 3px #9C2A27; */
    border-radius: 10px;
    font-family: "Haeparang";
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.overview_ai_negative_text_area {
    width: 940px;
    height: 150px;
    color : #304A6C;
    /* background-color: #f5f3ec; */
    /* border: solid 3px #9C2A27; */
    border-radius: 10px;
    font-family: "Haeparang";
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.overview_ai_neutral_text_area {
    width: 940px;
    height: 150px;
    color : #304A6C;
    /* background-color: #f5f3ec; */
    /* border: solid 3px #9C2A27; */
    border-radius: 10px;
    font-family: "Haeparang";
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.overview_under_ai_text_area {
    width: 940px;
    height: 700px;
    /* background-color: gray; */
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.overview_under_left_side {
    width: 350px;
    height: 760px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 3px #9C2A27;
    border-radius: 10px; */
}

.ovw_under_left_wrapper {
    width: 500px;
    height: 700px;
    border: solid 3px #9C2A27;
    border-radius: 10px;
    background-color: #f5f3ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ovw_under_left_text {
    text-align: center;
    font-family: "Haeparang";
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ovw_ult_top {
    /* background-color: gray; */
    width: 330px;
    height: 180px;
    line-height: 80px;
    color : #304A6C;
    display: flex;
    flex-direction: column;
}

.ovw_ult_top_top {
    width: 330px;
    height: 60px;
    display: flex;
    flex-direction: row;
}



.ovw_ult_top_top_1 {
    width: 165px;
    height: 60px;
    /* background-color: gray; */
}

.ovw_ult_top_top_2 {
    width: 165px;
    height: 60px;
    /* background-color: yellowgreen; */
}

.ovw_ult_top_bottom {
    width: 330px;
    height: 60px;
    /* background-color: aquamarine; */
}

.ovw_ult_top_img {
    height: 100%;
}

.ovw_ult_mid {
    /* background-color: white; */
    width: 330px;
    height: 180px;
    line-height: 80px;
    color : #304A6C;
}

.ovw_ult_mid_mid {
    width: 330px;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.ovw_ult_mid_mid_1 {
    width: 330px;
    height: 60px;
    /* background-color: gray; */
}

.ovw_ult_mid_mid_2 {
    width: 330px;
    height: 60px;
    /* background-color: yellowgreen; */
}

.ovw_ult_mid_bottom {
    width: 330px;
    height: 60px;
    /* background-color: aquamarine; */
}

.ovw_ult_mid_img {
    height: 95%;
}

.ovw_ult_bottom {
    /* background-color: pink;   */
    width: 330px;
    height: 180px;
    line-height: 80px;
    color : #304A6C;
}

.ovw_ult_bottom_bottom {
    width: 330px;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.ovw_ult_bottom_bottom_1 {
    width: 330px;
    height: 60px;
    font-size: 28px;
    /* background-color: gray; */
}

.ovw_ult_bottom_bottom_2 {
    width: 330px;
    height: 60px;
    /* background-color: yellowgreen; */
}

.ovw_ult_bottom_bottom_bottom {
    width: 330px;
    height: 60px;
    /* background-color: aquamarine; */
}

.ovw_ult_bottom_bottom_bottom_img {
    height: 100%;
}

.overview_under_right_side {
    width: 550px;
    height: 759px;
    padding-top: 0px;
    /* background-color: blue; */
    /* border: solid 3px #9C2A27;
    border-radius: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ovw_under_right_wrapper {
    width: 550px;
    height: 700px;
    /* border: solid 3px #9C2A27;
    border-radius: 10px;
    background-color: #f5f3ec; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ovw_under_right_side_top {
    width: 540px;
    height: 260px;
    /* background-color: aquamarine; */
    border: solid 3px #9C2A27;
    border-radius: 10px;
    background-color: #f5f3ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Haeparang";
    font-size: 25px;
    line-height: 25px;
    color : #304A6C
}

.ovw_under_right_side_top_1 {
    width: 100%;
    height: 30%;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.over_under_right_side_top_top {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.over_under_right_side_top_bottom {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.over_under_right_side_top1_top {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.over_under_right_side_top1_bottom {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ovw_under_right_side_top_2 {
    width: 100%;
    height: 30%;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.over_under_right_side_top2_top {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.over_under_right_side_top2_bottom {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ovw_under_right_side_top_3 {
    width: 100%;
    height: 30%;
    /* background-color: aquamarine;    */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ovw_under_right_side_top_3_top {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ovw_under_right_side_top_3_bottom {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ovw_under_right_side_bottom {
    width: 540px;
    height: 410px;
    /* background-color: gray; */
    border: solid 3px #9C2A27;
    border-radius: 10px;
    background-color: #f5f3ec;
}

.footer_area {
    width: 100%;
    height: 431px;
    background-color: greenyellow;
}

.food_img {
    width: 100%;
}

@font-face {
	font-family: "Haeparang";
	src: url("../assets/ttf/Yeongdeok\ Haeparang.ttf");
}