.wrapper {
    width: 100%;
    height: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.header {
    width: 1000px;
    height: 50px;
    background-color: #9C2A27;
}

.contents {
    width: 1000px;
    height: 2600px;
    background-color: white;
    display: inline-block;
    flex-wrap: wrap;
}

.logo_area {
    width: 1000px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_img {
    width: 400px;
    height: 400px;
    margin: auto;
}

.contents_area {
    width: 1000px;
    height: 1770px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.raw_text_area {
    width: 1000px;
    height: 70px;
    /* background-color: pink; */
    display: flex;
    align-items: center;
}

.raw_text_filter {
    width: 180px;
    height: 60px;
    padding-left: 60px;
    font-family: "Haeparang";
    text-align: left;
    font-size: 45px;
    line-height: -15px;
    color: #9C2A27;
}

.refresh_button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
    outline: none;
    cursor: pointer;    
}

.refresh_button_img {
    width: 50px;
    height: 50px;
    border: none; 
}

.raw_refresh_text {
    width: 180px;
    height: 60px;
    padding-left: 10px;
    font-family: "Haeparang";
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 25px;
    line-height: -50px;
    color: #304A6C;
}

.buttons_area {
    width: 900px;
    height: 240px;
    margin-top: 10px;
    background-color: #f5f3ec;
    border: solid 5px #9C2A27;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.buttons_sum {
    width: 800px;
    height: 500px;
    padding-top: 15px;
    /* background-color: greenyellow; */
}

.buttons_line {
    width: 800px;
    height: 62px;
    display: flex;
    /* border: solid 1px black; */
}

.pressedButton {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    font-family: "haeparang";
    color: white;
    background-color: #9C2A27;
}

.unpressedButton {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid 3px #9C2A27;
    border-radius: 20px;
    font-family: "haeparang";
    color: #9C2A27;
    background-color: white;
}

.filter_thema_text {
    width: 120px;
    height: 62px;
    /* border: solid 1px red; */
    color: #304A6C;
    font-family: "haeparang";
    font-size: 40px;
    text-align: start;
}

.filter_thema_text_review {
    width: 120px;
    height: 62px;
    /* border: solid 1px red; */
    color: #304A6C;
    font-family: "haeparang";
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
}

.filter_buttons_line {
    width: 680px;
    height: 62px;
    /* border: solid 1px blue; */
    display: flex;
    align-items: center;
    justify-content: start;
}

.apply_button {
    width: 400px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #304A6C;
    border-radius: 10px;
    text-align: center;
    font-family: "haeparang";
    font-size: 30px;
    color:white;
    text-decoration: none;
}

.raw_text_filter_result {
    width: 800px;
    height: 60px;
    padding-left: 60px;
    /* background-color: antiquewhite; */
    font-family: "Haeparang";
    color: #304A6C;
    text-align: left;
    font-size: 45px;
    line-height: -15px;
}

.footer_area {
    width: 100%;
    height: 431px;
    background-color: greenyellow;
}

.results_area {
    width: 900px;
    height: 1200px;
    margin-top: 10px;
    background-color: #f5f3ec;
    border: solid 5px #9C2A27;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.result {
    width: 750px;
    height: 284px;
    border-bottom: solid 5px #9C2A27;
}

.last_result {
    width: 750px;
    height: 284px;
}

.result_title{
    padding-top: 10px;
    width: 400px;
    height: 80px;
    display: flex;
    /* border: solid 2px black; */
}

.result_title_text {
    text-align: center;
    font-family: "Haeparang";
    font-size: 50px;
    color: #304A6C;
}

.moveButton {
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #9C2A27;
    border-radius: 10px;
    text-align: center;
    font-family: "haeparang";
    font-size: 20px;
    color:white;
    text-decoration: none;
}

.ping_area {
    width: 65px;
    height: 78px;
    /* border: solid 2px blue; */
}

.ping_img {
    width: 100%;
}

.result_contents {
    width: 750px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    /* background-color: gray; */
}

.restaurant {
    width: 300px;
    height: 180px;
    border: solid 3px #9C2A27;
    border-radius: 20px;
}

.result_contents_text_1 {
    width: 400px;
    height: 190px;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* background-color: pink; */
    font-family: "haeparang";
    font-size: 25px;
    color:#304A6C;
}

.result_contents_text_2 {
    width: 400px;
    height: 190px;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* background-color: pink; */
    font-family: "haeparang";
    font-size: 25px;
    color:#304A6C;
}

.result_contents_text_3 {
    width: 400px;
    height: 190px;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* background-color: pink; */
    font-family: "haeparang";
    font-size: 25px;
    color:#304A6C;
}

.result_contents_text_4 {
    width: 400px;
    height: 190px;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* background-color: pink; */
    font-family: "haeparang";
    font-size: 25px;
    color:#304A6C;
}

.rctc1_1 {
    width: 100%;
    height: 25%;
}

.rctc1_2 {
    width: 100%;
    height: 25%;
}

.rctc1_3 {
    width: 100%;
    height: 25%;
}

.rctc1_4 {
    width: 100%;
    height: 25%;
}

.rctc2_1 {
    width: 100%;
    height: 20%;
}

.rctc2_2 {
    width: 100%;
    height: 20%;
}

.rctc2_3 {
    width: 100%;
    height: 40%;
}

.rctc2_4 {
    width: 100%;
    height: 20%;
}

.rctc3_1 {
    width: 100%;
    height: 25%;
}

.rctc3_2 {
    width: 100%;
    height: 25%;
}

.rctc3_3 {
    width: 100%;
    height: 25%;
}

.rctc3_4 {
    width: 100%;
    height: 25%;
}

.rctc4_1 {
    width: 100%;
    height: 25%;
}

.rctc4_2 {
    width: 100%;
    height: 25%;
}

.rctc4_3 {
    width: 100%;
    height: 25%;
}

.rctc4_4 {
    width: 100%;
    height: 25%;
}

.apply_button:active,
.refresh_button:active,
.moveButton:active {
  background-color: #e0e0e0; /* 클릭 시 배경색 */
  transition: background-color 0.1s ease-in-out;
}

.refresh_button {
  background-color: transparent;
  border: none;
}

.pagination_area {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pageButton {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #555;
    font-size: 20px;
    font-family: "Haeparang";
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pageButton:hover {
    background-color: #ddd;
    color: #333;
}

.activePageButton {
    background-color: #9C2A27;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: bold;
    cursor: default; /* 활성 버튼은 클릭 불가 상태 */
    padding: 8px 12px;
    margin: 0 4px;
}

.activePageButton:hover {
    background-color: #007bff;
    color: white; /* 활성 버튼은 호버 효과 없음 */
}
  

@font-face {
	font-family: "Haeparang";
	src: url("../assets/ttf/Yeongdeok\ Haeparang.ttf");
}