.markerBox {
    padding-left: 25px;
    position: relative;
    width: 85px;
    height: 30px;
    font-size: 5px;
    background-color: #9C2A27;
    border-radius: 35px;
  
    .totalOrder {
      text-align: center;
      line-height: 30px;
      width: 25px;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #f5f3ec;
      color: white;
      border-radius: 50%;
      position: absolute;
    }
  }