.wrapper {
    width: 100%;
    height: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.header {
    width: 1000px;
    height: 50px;
    background-color: #9C2A27;
}

.contents {
    width: 1000px;
    height: 2600px;
    background-color: white;
    display: inline-block;
    flex-wrap: wrap;
}

.logo_area {
    width: 1000px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_img {
    width: 400px;
    height: 400px;
    margin: auto;
}

.contents_area {
    width: 1000px;
    height: 1770px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.raw_text_area {
    width: 1000px;
    height: 70px;
    background-color: pink;
    display: flex;
    align-items: center;
}

.raw_text_filter {
    width: 180px;
    height: 60px;
    padding-left: 60px;
    font-family: "Haeparang";
    text-align: left;
    font-size: 45px;
    line-height: -15px;
    color: #9C2A27;
}

.refresh_button {
    width: 50px;
    height: 50px;
    background-color: transparent; /* 배경색 투명 */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
    outline: none;
    cursor: pointer;    
}

.refresh_button_img {
    width: 50px;
    height: 50px;
    border: none; 
}

.raw_refresh_text {
    width: 180px;
    height: 60px;
    padding-left: 10px;
    font-family: "Haeparang";
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 25px;
    line-height: -50px;
    color: #304A6C;
}

.buttons_area {
    width: 800px;
    height: 600px;
    background-color: gray;
}

.footer_area {
    width: 100%;
    height: 431px;
    background-color: greenyellow;
}


@font-face {
	font-family: "Haeparang";
	src: url("../assets/ttf/Yeongdeok\ Haeparang.ttf");
}